.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    background-position: center;
    background-size: cover;
    height: calc(100vh-80px);
}

.navbar{
    width: 100%;
    height: 75px;
    margin-bottom: 0;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #fff;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.btn-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
    margin-left: 30px;
}

.btnn:hover{
    color: #000;
    background-color: #fff;
}

.btnn:focus{
    outline: none;
}


.content{
    width: 100%;
    height: calc(100vh-75px);
    color: #fff;
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.image-div{
    flex: 1;
}

.right-div{
    flex: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #15172b;
}

.doctor-image{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

h2{
    margin-left: 40px;
}

.right-div-form{
    margin-top: 30px;
}

.track-services{
    width: 90%;
    margin-top: 50px;
    height: 400px;
    background-color: white;
}

.pidInput{
    border: solid 1px black;
    width: 94%;
    font-size: 20px;
    padding: 12px 10px;
    margin: 15px 15px;
}

.service-button{
    padding: 17px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
}

.service-button:hover{
    background-color: gray;
}
